*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

button{
    height: 50%;
    width: 10vw;
    border: none;
}

nav{
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    align-items: center;
    gap: 100px;
    width: max-content;
}

.content{
    width: 80vw;
}

.content, .card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto;
}

.card{
    background-color: #7adac4;
    width: 500px;
    height: 500px;
    text-align: center;
}

img{
    width: 100%;
    max-width: 600px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.card p, .card h1{
    align-self: center;
    font-size: 20px;
    padding: 0 50px;
}